---
import archLogo from "../../assets/img/archlinux.png";
import calamareLogo from "../../assets/img/calamares.png";
import kdeLogo from "../../assets/img/kde.png";

const logos = [
  { src: archLogo.src, alt: "Arch Linux Logo" },
  { src: calamareLogo.src, alt: "Calamares Logo" },
  { src: kdeLogo.src, alt: "KDE Logo" }
];
---

<div class="w-full p-8">
  <div class="flex content-between items-center justify-between flex-wrap gap-4 max-w-7xl mx-auto">
    {logos.map((logo) => (
      <img key={logo.alt} src={logo.src} alt={logo.alt} class="h-24" />
    ))}
  </div>
</div>