---
import desktopImage from "../../assets/img/Descktop.png";

const downloadURL =
  "https://sourceforge.net/projects/eososlinux/files/eososlinux/EosOS-plasma-desktop-2025.08.11-x86_64.iso/download";
const sha256sum =
  "0a2aa9b53611b1bf37f8be15b66098539d7e3b7a2e03e09fb65e385141ef2d43";
---

<section id="download" class="flex-col">
  <div
    class="card flex flex-row bg-[rgba(30,30,45,0.9)] rounded-md w-full max-w-7xl border-2 [border-color:#fab387] h-[400px] overflow-hidden"
  >
    <!-- Imagen alineada al borde izquierdo, superior e inferior -->
 <div class="h-full w-[120%]">
      <img
        src={desktopImage.src}
        alt="EosOS KDE Desktop"
        class="h-full w-full object-cover rounded-l-md"
      />
    </div>

    <div class="card-text p-8 flex flex-col justify-center items-center w-[50%]">
      <h2 class="text-center font-bold text-3xl text-[#fab387]">EosOS Linux KDE Lite</h2>
      <ul class="text-center list-none p-0 self-center text-white my-2">
        <li>Independent distribution based on Arch Linux</li>
        <li>Easy to use</li>
        <li>Highly customizable for everyone</li>
      </ul>

      <div class="flex flex-row justify-center items-center mt-4">
        <a
          href={downloadURL}
          class="card-button"
          target="_blank"
          rel="noopener noreferrer"
        >
          Download
        </a>
        <div
          class="sf-root inline ml-3"
          data-id="3890020"
          data-badge="oss-users-love-us-black"
          style="width:100px"
        >
          <a href="https://sourceforge.net/projects/eososlinux/" target="_blank"
            >EosOSLinux</a
          >
        </div>
        <script>
          (function () {
            var sc = document.createElement("script");
            sc.async = true;
            sc.src = "https://b.sf-syn.com/badge_js?sf_id=3890020";
            var p = document.getElementsByTagName("script")[0];
            p.parentNode?.insertBefore(sc, p);
          })();
        </script>
      </div>
    </div>
  </div>

  <p class="text-center text-gray-400 mt-4">
    sha256sum: {sha256sum}
  </p>

  <script>
    (function () {
      var sc = document.createElement("script");
      sc.async = true;
      sc.src = "https://b.sf-syn.com/badge_js?sf_id=3890020";
      var p = document.getElementsByTagName("script")[0];
      p.parentNode?.insertBefore(sc, p);
    })();
  </script>
</section>
