---
import desktopImage from "../../assets/img/download.png";

const downloadURL =
  "https://sourceforge.net/projects/eososlinux/files/releases/EosOS-plasma-desktop-2025.07.03-x86_64.iso/download";
const sha256sum =
  "6635bcc84e727086fcc538f2024686a5eb131a769d228ccd4762d9de76fc0379";
---

<section id="download" class="flex-col">
  <div
    class="card flex flex-row items-center bg-[rgba(30,30,45,0.8)] rounded-md gap-4 w-full max-w-7xl"
  >
    <div class="card-image-wrapper flex justify-center items-center">
      <img
        src={desktopImage.src}
        alt="EosOS KDE Desktop"
        class="card-image rounded-l-md w-full h-auto"
      />
    </div>

    <div class="card-text p-8 flex flex-col justify-center align-middle">
      <h2 class="text-center font-bold">EosOS Linux KDE Lite</h2>
       <ul class="text-center list-none p-0">
        <li>Independent distribution based on Arch Linux</li>
        <li>Easy to use</li>
        <li>Highly customizable for everyone</li>
      </ul>


      <div class="flex flex-row justify-center items-center mt-4">
        <p class="flex flex-col items-center">
          <a
            href={downloadURL}
            class="card-button"
            target="_blank"
            rel="noopener noreferrer"
          >
            Download
          </a>
        </p>
        <div
          class="sf-root inline ml-3"
          data-id="3890020"
          data-badge="oss-users-love-us-black"
          style="width:100px"
        >
          <a href="https://sourceforge.net/projects/eososlinux/" target="_blank"
            >EosOSLinux</a
          >
        </div>
        <script>
          (function () {
            var sc = document.createElement("script");
            sc.async = true;
            sc.src = "https://b.sf-syn.com/badge_js?sf_id=3890020";
            var p = document.getElementsByTagName("script")[0];
            p.parentNode?.insertBefore(sc, p);
          })();
        </script>
      </div>
    </div>
  </div>
  <p class="text-center text-gray-400 mt-4">
    sha256sum: {sha256sum}
  </p>
</section>
