---
import desktopImage from "../../assets/img/download.png";

const downloadURL = "https://drive.google.com/file/d/1ReaIxGbM7bUcvPehicN_f72Ygekn0BOQ/view?usp=drive_link";
const sha256sum = "b26bcb72eafd618f748fc49ca3c8b252a8c9a7e7f4538bd958d07ca5287827b6";
---

<section id="download" class="flex-col">
  <div
    class="card flex flex-row items-center bg-[rgba(30,30,45,0.8)] backdrop-blur-md rounded-2xl gap-4 w-full max-w-7xl"
  >
    <div class="card-image-wrapper flex justify-center items-center">
      <img
        src={desktopImage.src}
        alt="EosOS KDE Desktop"
        class="card-image rounded-l-2xl w-full h-auto"
      />
    </div>

    <div class="card-text p-8 flex flex-col justify-center align-middle">
      <h2 class="text-center font-bold">EosOS Linux KDE Lite</h2>
      <ul>
        <li>Independent distribution based on Arch Linux</li>
        <li>Easy to use</li>
        <li>Highly customizable for everyone</li>
      </ul>
      <p class="text-center">
        <a
          href={downloadURL}
          class="card-button"
          target="_blank"
          rel="noopener noreferrer"
        >
          Download
        </a>
      </p>
    </div>
  </div>
  <p class="text-center text-gray-400 mt-4">
    sha256sum: {sha256sum}
  </p>
</section>