---
import desktopIcon from "../../assets/img/pc.png";
---

<section id="requirements">
  <div
    class="card flex flex-row items-center bg-[rgba(31,31,48,0.8)] backdrop-blur-md rounded-2xl gap-4 w-full max-w-7xl p-8"
  >
    <div class="flex flex-col justify-center align-middle w-[65%]">
      <h2 class="font-bold title">System Requirements</h2>
      <table class="text-left">
        <thead>
          <tr>
            <th>Component</th>
            <th>Minimum</th>
            <th>Recommended</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Processor</td>
            <td>64-bit</td>
            <td>64-bit</td>
          </tr>
          <tr>
            <td>RAM</td>
            <td>4 GB</td>
            <td>8 GB</td>
          </tr>
          <tr>
            <td>Disk Space</td>
            <td>80 GB</td>
            <td>120 GB</td>
          </tr>
          <tr>
            <td>Disk Type</td>
            <td>HDD</td>
            <td>SSD</td>
          </tr>
          <tr>
            <td>Graphics</td>
            <td>OpenGL 3.0 compatible</td>
            <td>OpenGL 4.5 compatible</td>
          </tr>
          <tr>
            <td>Network</td>
            <td>Internet connection</td>
            <td>Internet connection</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex justify-center items-center mt-4">
      <img
        src={desktopIcon.src}
        alt="EosOS KDE Desktop"
        class="card-image w-full h-auto"
      />
    </div>
  </div>
</section>

<style>
  td:first-child {
    color: #fab387;
  }

  thead{
    color: #cba6f7;
  }
</style>