<!-- Footer limpio -->
<footer id="footer" class="bg-[rgba(31,31,48,0.8)] backdrop-blur-md py-8 px-4">
  <div
    class="container flex flex-col items-center justify-center footer-content"
  >
    <div class="socials">
      <!-- Discord -->
      <a
        href="https://discord.gg/SFCCXVA8ch"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Discord"
      >
        <svg viewBox="0 0 24 24" fill="currentColor" class="social-icon">
          <path
            d="M20.317 4.37a19.8 19.8 0 0 0-4.885-1.515.074.074 0 0 0-.079.037c-.211.375-.445.865-.608 1.25-1.845-.276-3.68-.276-5.487 0-.164-.393-.406-.874-.618-1.25a.077.077 0 0 0-.079-.037A19.7 19.7 0 0 0 3.68 4.397a.07.07 0 0 0-.032.027C.533 9.046-.319 13.58.099 18.058a.082.082 0 0 0 .031.056c2.053 1.508 4.041 2.423 5.993 3.03a.078.078 0 0 0 .084-.028c.462-.63.873-1.295 1.226-1.994a.076.076 0 0 0-.042-.106 12.1 12.1 0 0 1-1.872-.892.077.077 0 0 1-.007-.127c.126-.094.252-.192.372-.291a.074.074 0 0 1 .078-.01c3.928 1.793 8.18 1.793 12.062 0a.074.074 0 0 1 .078.01c.12.099.246.198.373.292a.077.077 0 0 1-.007.127c-.593.343-1.214.645-1.873.892a.076.076 0 0 0-.04.106c.36.698.772 1.363 1.225 1.993a.076.076 0 0 0 .084.029c1.961-.607 3.95-1.522 6.002-3.03a.077.077 0 0 0 .032-.055c.5-5.177-.838-9.674-3.548-13.66a.061.061 0 0 0-.031-.029ZM8.02 15.331c-1.183 0-2.157-1.086-2.157-2.419 0-1.333.956-2.419 2.157-2.419 1.211 0 2.176 1.095 2.157 2.419 0 1.333-.955 2.419-2.157 2.419Zm7.975 0c-1.183 0-2.157-1.086-2.157-2.419 0-1.333.955-2.419 2.157-2.419 1.211 0 2.176 1.095 2.157 2.419 0 1.333-.946 2.419-2.157 2.419Z"
          ></path>
        </svg>
        Discord
      </a>

      <!-- YouTube -->
      <a
        href="https://www.youtube.com/@EosOS-Linux"
        target="_blank"
        aria-label="YouTube"
        rel="noopener noreferrer"
      >
        <svg viewBox="0 0 24 24" fill="currentColor" class="social-icon">
          <path
            d="M23.498 6.186a2.948 2.948 0 0 0-2.075-2.087C19.645 3.5 12 3.5 12 3.5s-7.645 0-9.423.599A2.948 2.948 0 0 0 .502 6.186 30.24 30.24 0 0 0 0 12a30.24 30.24 0 0 0 .502 5.814 2.948 2.948 0 0 0 2.075 2.087C4.355 20.5 12 20.5 12 20.5s7.645 0 9.423-.599a2.948 2.948 0 0 0 2.075-2.087A30.24 30.24 0 0 0 24 12a30.24 30.24 0 0 0-.502-5.814ZM9.75 15.5v-7l6 3.5-6 3.5Z"
          ></path>
        </svg>
        YouTube
      </a>

      <!-- GitHub -->
      <a
        href="https://github.com/eososlinux/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub"
      >
        <svg viewBox="0 0 24 24" fill="currentColor" class="social-icon">
          <path
            d="M12 0a12 12 0 0 0-3.793 23.4c.6.113.82-.263.82-.583 0-.287-.01-1.048-.016-2.057-3.338.725-4.042-1.608-4.042-1.608a3.186 3.186 0 0 0-1.335-1.757c-1.09-.745.083-.73.083-.73a2.524 2.524 0 0 1 1.842 1.238 2.55 2.55 0 0 0 3.487.996 2.55 2.55 0 0 1 .76-1.6c-2.667-.303-5.467-1.334-5.467-5.932a4.633 4.633 0 0 1 1.233-3.216 4.3 4.3 0 0 1 .116-3.173s1.005-.322 3.3 1.23a11.37 11.37 0 0 1 6 0c2.292-1.552 3.295-1.23 3.295-1.23a4.3 4.3 0 0 1 .118 3.173 4.633 4.633 0 0 1 1.23 3.216c0 4.61-2.8 5.625-5.475 5.92a2.86 2.86 0 0 1 .817 2.22c0 1.6-.015 2.887-.015 3.28 0 .322.216.7.825.58A12 12 0 0 0 12 0Z"
          ></path>
        </svg>
        GitHub
      </a>
    </div>
    <div class="footer-bottom">
      <p class="text-center text-gray-400 text-sm">
        &copy; 2023 EosOS GNU/Linux. All rights reserved. Powered by EOS Team & <a
          href="https://vasak.net.ar/">Vasak Group</a
        >.
      </p>
    </div>
  </div>
</footer>

<style>
  /* Footer */
  #footer {
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5); /* Sombra arriba */
  }
</style>
