---
import Download from "./sections/Download.astro";
import Install from "./sections/Install.astro";
import Requirements from "./sections/Requirements.astro";
---

<section id="home">
  <div class="container">
    <h1>Welcome to EosOS Linux KDE Lite</h1>
    <p>
      Independent distribution based on Arch Linux, easy to use and highly
      customizable.
    </p>
  </div>
</section>

<Requirements />
<Download />
<Install />

<style>
  #home {
    padding-top: 80px; /* Altura navbar + margen */
    padding-bottom: 3rem;
    text-align: center;
  }

  #home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #e6b2bb;
  }

  #home p {
    font-size: 1.25rem;
    max-width: 600px;
    margin: 0 auto;
    color: #ccc;
  }
</style>
