---
import desktopImage from "../assets/EosOS-plasma-descktop.png";
---

<!-- Sección Home -->
<section id="home">
  <div class="container">
    <h1>Welcome to EosOS Linux KDE Lite</h1>
    <p>
      Independent distribution based on Arch Linux, easy to use and highly
      customizable.
    </p>
  </div>
</section>

<section id="requirements" class="flex justify-center items-center py-8 px-4">
  <div
    class="card flex flex-row items-center bg-[rgba(31, 31, 48, 0.6)] backdrop-blur-md rounded-2xl gap-4 w-full max-w-7xl p-8"
  >
    <div class="flex flex-col justify-center align-middle w-[65%]">
      <h2 class="font-bold title">System Requirements</h2>
      <table class="text-left">
        <thead>
          <tr>
            <th>Component</th>
            <th>Minimum</th>
            <th>Recommended</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Processor</td>
            <td>64-bit</td>
            <td>64-bit</td>
          </tr>
          <tr>
            <td>RAM</td>
            <td>4 GB</td>
            <td>8 GB</td>
          </tr>
          <tr>
            <td>Disk Space</td>
            <td>80 GB</td>
            <td>120 GB</td>
          </tr>
          <tr>
            <td>Disk Type</td>
            <td>HDD</td>
            <td>SSD</td>
          </tr>
          <tr>
            <td>Graphics</td>
            <td>OpenGL 3.0 compatible</td>
            <td>OpenGL 4.5 compatible</td>
          </tr>
          <tr>
            <td>Network</td>
            <td>Internet connection</td>
            <td>Internet connection</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex justify-center items-center mt-4">
      <svg viewBox="0 0 16 16" height="75px" width="75px"
        ><path
          d="M1 3C0.447715 3 0 3.44772 0 4C0 4.55228 0.447716 5 1 5H9C9.55228 5 10 4.55228 10 4C10 3.44772 9.55228 3 9 3H1Z"
        ></path><path
          d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9H7C7.55228 9 8 8.55228 8 8C8 7.44772 7.55228 7 7 7H1Z"
        ></path><path
          d="M0 12C0 11.4477 0.447715 11 1 11H9C9.55228 11 10 11.4477 10 12C10 12.5523 9.55228 13 9 13H1C0.447716 13 0 12.5523 0 12Z"
        ></path><path
          d="M15.707 7.20711C16.0975 6.81658 16.0975 6.18342 15.707 5.79289C15.3165 5.40237 14.6833 5.40237 14.2928 5.79289L11.9999 8.08579L11.2115 7.29741C10.821 6.90689 10.1878 6.90689 9.79729 7.29741C9.40676 7.68793 9.40676 8.3211 9.79729 8.71162L11.2928 10.2071C11.6833 10.5976 12.3165 10.5976 12.707 10.2071L15.707 7.20711Z"
        ></path></svg
      >
    </div>
  </div>
</section>
<section id="dowonload" class="flex justify-center items-center py-8 px-4">
  <div
    class="card flex flex-row items-center bg-[rgba(31, 31, 48, 0.6)] backdrop-blur-md rounded-2xl gap-4 w-full max-w-7xl"
  >
    <div class="card-image-wrapper flex justify-center items-center">
      <img
        src={desktopImage.src}
        alt="EosOS KDE Desktop"
        class="card-image rounded-l-2xl w-full h-auto"
      />
    </div>

    <div class="card-text p-8 flex flex-col justify-center align-middle">
      <h2 class="text-center font-bold">EosOS Linux KDE Lite</h2>
      <ul>
        <li>Independent distribution based on Arch Linux</li>
        <li>Easy to use</li>
        <li>Highly customizable for everyone</li>
      </ul>
      <p class="text-center">
        <a
          href="https://drive.google.com/file/d/1ReaIxGbM7bUcvPehicN_f72Ygekn0BOQ/view?usp=drive_link"
          class="card-button"
          target="_blank"
          rel="noopener noreferrer"
        >
          Download
        </a>
      </p>
    </div>
  </div>
</section>

<style>
  #home {
    padding-top: 80px; /* Altura navbar + margen */
    padding-bottom: 3rem;
    text-align: center;
  }

  #home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #e6b2bb;
  }

  #home p {
    font-size: 1.25rem;
    max-width: 600px;
    margin: 0 auto;
    color: #ccc;
  }
</style>
